[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
passlib = "*"
jose = "*"
alembic = "*"
pydantic-settings = "*"
asyncpg = "*"
sqlalchemy-utils = "*"
pytest = "*"
fastapi-oauth2 = "*"
pymysql = "*"
psycopg2 = "*"
psycopg2-binary = "*"
python-multipart = "*"
pytest-asyncio = "*"
aiofiles = "*"
pandas = "*"
bcrypt = "*"
sqlmodel = "*"
httpx = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.12"
